.row
    .large-12.columns
        .panel
            %h4 ZombieBrain!!
            .row
                .large-9.columns
                    %p Study or die... again!
                .large-3.columns
                    %a.radius.button.right{href:"#"} Contact Us"