/ navegation bar
.row
    .large-3.columns
        %h1
            %img{src:"http://placehold.it/400x100&text=Logo"}
    .large-9.columns
        %ul.right.button-group
            %li
                %a.button{href: new_user_session_path} Sign In
            %li
                %a.button{href: new_user_registration_path} Sign Up